.dashboard-container h1 {
  display: grid;
  flex-direction: column;
  align-items: center;
}

.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-text {
  text-align: center;
  margin: 20px;
  font-size: 28px;
}

.header {
  margin: 0;
  font-size: calc(12px + 2vw);
  text-align: center;
}
.no-booking{
  text-align: center;
  margin: 20px;
}

.button-containerPD {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%; 
}



.button {
  height: 43px;
  min-width: 300px;
  padding: 5px;
  background-color: #2196f3;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: #1976d2;
}

.card-container {
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin: 20px;
}

.booking-card {
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .button-containePD {
    flex-direction: column;
  }

  .card-container {
    display: flex;
    flex-direction: column;
  }

  .booking-card {
    width: 75%;
    margin: 10px auto;
  }
}

.booking-actions {
  display: flex;
  justify-content: flex-end;
}

.booking-action-icon {
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  margin-right: 20px;
  /* Add any additional styling you want */
}

/* Additional styles for color-coded buttons */
.booking-action-icon:hover {
  color: red; /* Red color on hover for the delete button */
}

.edit-icon {
  color: green; /* Green color for the edit button */
}

/* Add more styling for the color-coded buttons if needed */
