.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.form {
    width: 100%; /* or any specific width */
    max-width: 500px; /* or any specific max-width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.error {
  color: red;
  text-align: center;
}


.form-title {
  text-align: center;
  font-size: 24px;
}

.form-field {
  margin-bottom: 5px;
}

.form-label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-button {
  width: 100%;
  padding: 8px;
  margin-top: 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.link {
  text-align: center;
  margin-top: 10px;
}

.link a {
  color: #007bff;
}

@media screen and (min-width: 600px) {
  .form-container {
    height: 100vh;
  }
}
